[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
virtualperformance = "python ./CodeforcesVirtualPerformance/src/main.py"
customrank = "python ./CodeforcesCustomRank/src/main.py"
dailyproblems = "python ./CodeforcesDailyProblems/src/main.py"
