[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
rich = "*"
requests-cache = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build = "./scripts/build.sh"
dailyacs = "python ./src/apps/DailyACs/main.py"
comuaccount = "python ./src/apps/ComuACCount/main.py"
rangerank = "python ./src/apps/RangeRank/main.py"
virtualperformance = "python ./src/apps/VirtualPerformance/main.py"
unsolvedcontestproblems = "python ./src/apps/UnsolvedContestProblems/main.py"
whatif = "python ./src/apps/WhatIf/main.py"
