[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
virtualperformance = "python ./src/apps/CodeforcesVirtualPerformance/main.py"
customrank = "python ./src/apps/CodeforcesCustomRank/main.py"
dailyproblems = "python ./src/apps/CodeforcesDailyProblems/main.py"
